:root {
    --block-background-top: white;
    --block-background-bottom: white;
    --skills-block-background-bottom: black;
}

.block-container {
    position: absolute;
    width: 100%;
    height: 25rem;
    left: 0;
}

.block-container.top {
    top: 0;

}

.block-container.bottom {
    bottom: 0;
}

.blocks-row {
    width: 100%;
    height: 6.25rem;
    display: flex;
}

.block {
    width: 100%;
    height: 100%;
}

.block-container.top .blocks-row .block {
    opacity: 1;
    background-color: var(--block-background-bottom);
}


.block-container.bottom .blocks-row .block {
    opacity: 1;
    background-color: var(--block-background-top);
}

.skills .block-container.bottom .blocks-row .block {
    opacity: 1;
    background-color: var(--skills-block-background-bottom);
}


@media (max-width: 1000px) {
    html {
        font-size: 8px;
    }
}

