@font-face {
    font-family: "Ginka";
    src: url("/font/Ginka\ TRIAL\ Medium.ttf");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ginka";

}

:root {
    --main-theme:white;
    --main-title-background:white;
    --main-title-text: black;
    --main-title-border: black;
    --main-title-shadow: black;
    --intro-border: black;
    --bar-theme: black;
    --li-border: black;
    --resume-button-theme: black;
    --resume-button-bars: white;
    --resume-text-color: white;
    --project-section-theme: black;
    --project-card-theme: white;
    --dsa-project-shadow-theme: white;
    --smooth-background-color: #ffdc5e;
    --text-shadow: white;
    --blur-bar-theme: rgb(128, 128, 128);
}

html {
    background-color: var(--main-theme);
    scrollbar-color: red;
    overflow-x: hidden;
}

/* navigation section*/


.navigation {
    margin: 7em;
    margin-bottom: 15em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.title {
    position: relative;
    display: inline-block;
    align-self: flex-end;
}
.home-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.05rem;
    padding: 1em;
    border: 0.07em solid var(--main-title-border);
    border-radius: 0.2rem;
    background-color: var(--main-title-background);
    color: var(--main-title-text);
    transform: translate(-1.5rem, -1.5rem);
    z-index: 10000000;
}

.shadow {
    width: 100%;
    height: 100%;
    background-color: var(--bar-theme);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}


.icon {
    background-color: var(--main-theme);
    padding: 1.5em;
    border: 0.1rem solid var(--main-title-border);
    transform: translate(-1rem, -1rem);
    background-image: url("/icon/menu-2-line.svg");
    background-position: center;
    background-size: 3rem;
    background-repeat: no-repeat;
    font-size: 2rem;
}

.menu-button {
    position: sticky;
    z-index: 10000000;
    align-self: flex-end;
    top: 100px;
}


/* ----------------------*/

/* intro section */



.intro {
    max-width: 100%;
    padding: 10em 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blur-bar {
    height: 100%;
    border: 0.2px solid var(--blur-bar-theme);
    position: absolute;
    z-index: 1;
    opacity: 0.3;
}

.blur-bar.left {
    left: 25%;
}
.blur-bar.center {
    left: 50%;
}
.blur-bar.right {
    left: 75%;
}
.blur-bar.top-left {
    left: 25%;
    transform: translateY(-100%);
}
.blur-bar.top-right {
    left: 75%;
    transform: translateY(-100%);
}
.blur-bar.bottom-left {
    left: 25%;
    transform: translateY(100%);
}

.blur-bar.bottom-right {
    left: 75%;
    transform: translateY(100%);
}

.surrounded-bar {
    border-left: 0.1em dashed var(--bar-theme);
    background-color: var(--dsa-project-shadow-theme);
    position: absolute;
    display: inline-block;
    width: 0.07em;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
}

.surrounded-bar.top{
    top: 0;
    left: 50%;
    transform: translateY(-100%);
}

.surrounded-bar.top-left{
    top: 0;
    left: 0;
    transform: translateY(-100%);
}

.surrounded-bar.top-right{
    top: 0;
    right: 0;
    transform: translateY(-100%);
}

.surrounded-bar.bottom{
    bottom: 0;
    left: 50%;
    transform: translateY(100%);
    z-index: 1;
    height: 140%;
}

.surrounded-bar.bottom-left{
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: translateY(100%);
    height: 140%;
}

.surrounded-bar.bottom-right{
    height: 100%;
    bottom: 0;
    right: 0;
    transform-origin: top left;
    transform: translateY(100%);
    height: 140%;
}



.intro .border {
    background-color: var(--bar-theme);
    position: absolute;
    background-color: var(--dsa-project-shadow-theme);
    opacity: 0.5;
}

.intro .border.top {
    top: 0;
    border-bottom: 0.1em dashed var(--bar-theme);
}

.intro .border.left {
    left: 0;
    border-left: 0.1em dashed var(--bar-theme);
}

.intro .border.right {
    right: 0;
    border-right: 0.1em dashed var(--bar-theme);
}

.intro .border.bottom {
    bottom: 0;
    border-bottom: 0.1em dashed var(--bar-theme);
}

.hello-text{
    font-size: 4rem;
    letter-spacing: -0.05em;
    color: var(--bar-theme);
    font-weight: bold;
}

.intro-text > p, .intro-text.second-line > pre {
    font-size: 4rem;
    color: var(--bar-theme);
    font-weight: bold;
    letter-spacing: -0.05em;
}


.react-icon {
    display: inline;
    background-color: var(--bar-theme);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    padding: 0.5rem;
}

.react-icon > button {
    padding: 3rem;
    background-image: url("/icon/react-brands-solid\ \(1\).svg");
    background-size: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: none;
    background-color: var(--bar-theme);
}

/* animation for menu */

.menu{
    display: flex;
    gap: 1em;
}

.menu > .section-list {
    display: flex;
}

.section-list > * {
    align-self: flex-end;
}

.sec {
    display: inline-block;
    position: relative;
}



.sec > button {
    font-size: 1.5rem;
    background-color: var(--main-theme);
    padding: 0.5em;
    border: 0.1rem solid var(--bar-theme);
    color: var(--bar-theme);
}



.menu-animation-container {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    height: 100vh;
    transform: translateY(-100%);
    z-index: 10;
}
.bar {
    width: 10vw;
    border: none;
    background-color: var(--bar-theme);
    position: relative;
}


/*Resume section*/


.resume {
    font-size: 2rem;
    padding: 1em;
    border: 0.07em solid var(--bar-theme);
    border-top: none;
    background-color: var(--resume-button-theme);
    display: inline-block;
    color: var(--resume-text-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 1;
}

.resume-bar {
    background-color: var(--resume-button-bars);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    z-index: -1;
}


.resume-bar.second {
    transform: translateX(100%);
}

.resume-bar.third {
    transform: translateX(200%);
}

.resume-bar.fourth {
    transform: translateX(300%);
}

/* Project section */

.project {
    background-color: var(--project-section-theme);
    padding: 10em;
    padding-top: 45em;
    padding-bottom: 30em;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    position: relative;
}

.project > p {
    font-size: 5rem;
    color: var(--main-theme);
}

/* Dsa project */

.project-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.project-description {
    font-size: 2rem;
    color: white;
}
.card.dsa {
    background-color: var(--project-card-theme);
    display: inline-flex;
    padding: 1rem;
    border-radius: 0.5em;
    flex-direction: column;
    gap: 2rem;
    z-index: 1000;
    position: relative;
    border: 0.2em solid var(--bar-theme);

}

.simpleDsa {
    display: inline-grid;
    grid-template-columns: 7rem 7rem 7rem 7rem 7rem 7rem; 
    grid-template-rows: 7rem 7rem 7rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

.simpleDsa > .img {
    border-radius: 0.5em;
}

.simpleDsa > .img.stack {
    background-image: url("img/stack.png");
    background-size: contain;
    border: none;
    grid-column: 1/ span 2;
    grid-row: 1/span 3;
    border: 0.2em solid var(--bar-theme);
}

.simpleDsa > .img.ll {
    background-image: url("img/linkedlist.png");
    background-size: cover;
    border: none;
    grid-column: 3/ span 4;
    grid-row: 1;
    border: 0.2em solid var(--bar-theme);
}

.simpleDsa > .img.bst {
    background-image: url("img/bst.png");
    background-size: cover;
    border: none;
    grid-column: 3/ span 4;
    grid-row: 2/ span 2;
    border: 0.2em solid var(--bar-theme);
}

.details {
    display: flex;
    justify-content: space-between;
}

.details > button {
    align-self: center;
    font-size: 1.5rem;
    padding: 1em;
    color: var(--main-theme);
    background-color: var(--bar-theme);
    position: relative;
    border: none;
}

.details button > p {
    position: relative;
    z-index: 5;
}

.smooth-change-background {
    height: 100%;
    background-color: var(--smooth-background-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.project-name {
    font-size: 3rem;
    color: var(--bar-theme);
}

.dsa-project {
    position: relative;
    display: inline-block;
}


.dsa-project .shadow-one, .dsa-project .shadow-two {
    height: 100%;
    width: 100%;
    background-color: var(--resume-button-bars);
    position: absolute;
    top: 0;
    border-radius: 0.5em;
}

.dsa-project .shadow-one {
    z-index: 5;
    border: 0.2em solid var(--bar-theme);
}

.dsa-project .shadow-two {
    z-index: 4;
}


/* footer section */

footer {
   background-color: var(--bar-theme);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10rem;
   padding-top: 20rem;
    gap: 6rem;
}


.contact-text > * {
    color: var(--dsa-project-shadow-theme);
}


.container-contact {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    align-items: center;
}

.index {
    color: white;
    position: relative;
    z-index: 10;
}

.contact-sec > .contact-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-title {
    font-size: 4rem;
}

.talk {
    font-size: 2.5rem;
}

.footer-menus {
    display: flex;
    flex-direction: column;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    gap: 7rem;
    position: relative;
}

.footer-menu > * {
    font-size: 2rem;
    color: white;
}

.footer-menu > a{
    text-decoration: none;
    position: relative;
}

.index {
    color: white;
    position: relative;
    z-index: 0;
}

.view {
    opacity: 0;
    color: black;
    position: relative;
}

.top-background {
    position: absolute;
    width: 100%;
    background-color:var(--dsa-project-shadow-theme);
    border-top: 0.01rem solid var(--dsa-project-shadow-theme);
    top: 0;
    left: 0;
}

.big-name {
    font-size: 10rem;
    display: flex;
    gap: 1rem;
}

.social-media-icon {
    gap: 2rem;
    display: flex;
}

.social-media-icon  button {
    padding: 2rem;
    background-color: var(--bar-theme);
    background-position: center;
    background-repeat: no-repeat;
    border: 0.1rem solid var(--dsa-project-shadow-theme);
    background-size: 2rem;
    border-radius: 0.2rem;
}

.linkedin {
    background-image: url("/icon/linkedin-icon-white.svg");
}

.instagram {
    background-image: url("/icon/instagram-icon-white.svg");
}

.facebook {
    background-image: url("/icon/facebook-icon-white.svg");
}

.leetcode {
    background-image: url("/icon/leetcode.svg");
}

.footer-icon {
    position: relative;;
}

.footer-moving-lines {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer-moving-line {
    width: 100%;
    border-top: 0.3rem solid var(--dsa-project-shadow-theme);
    position: relative;
}

.footer-moving-thing {
    width: 10%;
    height: 1rem;
    background-color: var(--dsa-project-shadow-theme);
    transform: translateY(-50%);
    border-radius: 0.5rem;
    position: absolute;
    top:0;
}

.footer-moving-thing.first {
    left: 0;
}

.footer-moving-thing.second {
    right: 0;
}

.footer-moving-thing.third {
    left: 50%;
}















