

@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 1599px) {
    html {
        font-size: 13px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 1299px) {
    html {
        font-size: 10px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 999px) {
    html {
        font-size: 8px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 799px) {
    html {
        font-size: 6px;
    }


}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 599px) {
    html {
        font-size: 4px;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 2px;
    }
}






/* @media (max-width: 400px) {
    html {
        font-size: 4px;
    }

} */