:root {
    --grids-items-theme: #dbd8e3;
    --grids-items-border: #2a2438;
}

.skills {
    padding: 10em;
    display: flex;
    padding-bottom: 20em;
    position: relative;
}

.skills-grid {
    display: inline-grid;
    grid-template-columns: 10rem 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem;
    gap: 0.2em;
    background-color: var(--grids-items-border);
    border-radius: 0.3em;
    border: 0.2em solid var(--grids-items-border);
}

.grid-items {
    border: none;
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--grids-items-theme);
}

.skills-title {
    font-size: 5rem;
    color: var(--grids-items-border);
}

#html {
    background-image: url("/icon/html.svg");
}


#css {
    background-image: url("/icon/css.svg");
}

#js {
    background-image: url("/icon/js.svg");
}


#react {
    background-image: url("/icon/react.png");
}

#java {
    background-image: url("/icon/java.png");
}


#python {
    background-image: url("/icon/python.png");
}

#c {
    background-image: url("/icon/c.svg");
}


#gsap {
    background-image: url("/icon/gsap.svg");
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.representative {
    width: 100rem;
    position: relative;
}

.representative .virtual {
    width: 100%;
    height: 70%;
}

.representative .come-in-logo {
    width: 100%;
    height: 70%;
    background-color: var(--grids-items-theme);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
}

.representative .come-in-logo button {
    width: 100%;
    height: 70%;
    border: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--grids-items-theme);
}

.representative .come-in-logo p {
    font-size: 3rem;
    color: var(--grids-items-border);
}

/* experience-level */

.experience-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.experience-time, .confident-level {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.experience-time > p, .confident-level > p {
    font-size: 1.5rem;
}

.amount {
    height: 0.5rem;
    background-color: var(--grids-items-border);
    border-radius: 1rem;
}

