@font-face {
    font-family: "Ginka";
    src: url("/font/Ginka\ TRIAL\ Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Ginka";
}

:root {
    --main-theme: black;
}

main {
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 4rem;
}

.about-title {
    font-size: 5rem;
    position: relative;
}

.about-essay {
    font-size: 1.25rem;
}

.title {
    position: relative;
}

.shadow {
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    position: absolute;

}





